absl-py
accelerate
anyio
appnope
asttokens
attrs
build
certifi
cffi
charset-normalizer
click
comm
contourpy
cycler
debugpy
decorator
diffusers
executing
filelock
flatbuffers
fonttools
fsspec
h11
hf-xet
httpcore
httpx
huggingface-hub
idna
importlib_metadata
ipykernel
ipython
ipython_pygments_lexers
jax
jaxlib
jedi
Jinja2
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mediapipe
ml_dtypes
mpmath
nest-asyncio
networkx
numpy
opencv-contrib-python
opencv-python
opt_einsum
packaging
parso
pexpect
pillow
pip-tools
platformdirs
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
pycparser
Pygments
pyparsing
pyproject_hooks
python-dateutil
PyYAML
pyzmq
regex
requests
safetensors
scipy
sentencepiece
setuptools
shellingham
six
sniffio
sounddevice
stack-data
sympy
tokenizers
torch
torchvision
tornado
tqdm
traitlets
transformers
typer-slim
typing_extensions
urllib3
wcwidth
wheel
zipp
